<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="icon" type="image/png" sizes="153x160" href="assets/img/avatars/Logo_de_Gobierno_versiones-01-01.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Minimalistic--Responsive-Login.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-journal-whills"></i></div>
                    <div class="sidebar-brand-text mx-3"><span><br><strong>&nbsp;ELECSAL</strong><br><br></span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" id="navVotos"><a class="nav-link" href="votoAlcalde.html"><i class="fas fa-table"></i><span>Votar</span></a></li>
                    <li class="nav-item" id="navEstadisticas"><a class="nav-link active" href="estadisticas.html"><i class="fas fa-tachometer-alt"></i><span>Estadisticas</span></a></li>
                    <li class="nav-item" id="navAdminUser"><a class="nav-link" href="usuarios.html"><i class="fa fa-users"></i><span>Administrar Usuarios</span></a></li>
                    <li class="nav-item" id="navAdminAlcalde"><a class="nav-link" href="alcaldes.html"><i class="fa fa-user-o"></i><span>Administrar Candidatos Alcalde</span></a></li>
                    <li class="nav-item" id="navAdminPresidente"><a class="nav-link" href="presidentes.html"><i class="fa fa-user-o"></i><span>Administrar Candidatos Presidente</span></a></li>
                    <li class="nav-item" id="navAdminDiputado"><a class="nav-link" href="diputados.html"><i class="fa fa-user-o"></i><span>Administrar Candidatos Diputados</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><a class="navbar-brand justify-content-center align-items-center sidebar-brand m-0" id="nombreUsuario" href="#" style="width: 250px;height: 56px;padding-left: 5px;font-family: 'Alfa Slab One', serif;color: var(--blue);"></a>
                        <p class="d-xl-flex align-items-xl-end" id="idDepMun" style="margin-right: 0px;padding-left: 0px;margin-left: 100px;color: var(--indigo);font-size: 20px;font-family: 'Alfa Slab One', serif;">Paragraph</p><button class="btn" id="myBtn" type="button" style="color: var(--blue);"><i class="fa fa-power-off" data-toggle="tooltip" data-bss-tooltip="" style="color: var(--red);width: 25px;height: 25px;font-size: 25px;" title="SALIR DEL SISTEMA"></i></button>
                    </div>
                </nav>
                <div class="container-fluid" id="adminEstadisticas">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Estadisticas</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-xl-4" v-on:click="tipoEstadisticas=1">
                            <div class="card shadow border-left-primary" data-toggle="tooltip" data-bss-tooltip="" v-on:click="cargarDatos()" title="DOBLE CLICK PARA MOSTRAR DETALLES">
                                <div class="card-body" style="height: 110px;">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>Elecciones de Concejos Municipales</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user-alt fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4" v-on:click="tipoEstadisticas=2">
                            <div class="card shadow border-left-success" data-toggle="tooltip" data-bss-tooltip="" v-on:click="cargarDatos()" title="DOBLE CLICK PARA MOSTRAR DETALLES">
                                <div class="card-body" style="height: 110px;">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>Elecciones&nbsp;<br>Presidenciales<br></span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user-tie fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4" v-on:click="tipoEstadisticas=3">
                            <div class="card shadow border-left-warning" data-toggle="tooltip" data-bss-tooltip="" v-on:click="cargarDatos()" title="DOBLE CLICK PARA MOSTRAR DETALLES">
                                <div class="card-body" style="height: 110px;">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span class="text-break">Elecciones Diputados Asamblea Legislativa</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user-friends fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;" v-if="mostrarEstadisticas== true">
                        <p class="text-center" style="color: var(--blue);font-weight: bold;font-size: 24px;line-height: auto;margin-bottom: 0px;" v-if="this.muestra== 3">Elecciones Diputados Asamblea Legislativa</p>
                        <p class="text-center" style="color: var(--blue);font-weight: bold;font-size: 24px;line-height: auto;margin-bottom: 0px;" v-if="this.muestra == 2">Elecciones Presidente de la Republica<br></p>
                        <p class="text-center" style="color: var(--blue);font-weight: bold;font-size: 24px;line-height: auto;margin-bottom: 0px;" v-if="this.muestra == 1">Elecciones Concejo Municipal<br></p>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>VOTOS</th>
                                                <th>Partido</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="dato in datos">
                                                <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/candidatoH.png" v-show="dato.idUsuario.sexo==&quot;M&quot;"><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/candidataM.jpg" v-show="dato.idUsuario.sexo==&quot;F&quot;"></td>
                                                <td>{{dato.idUsuario.nombres}}</td>
                                                <td>{{dato.idUsuario.apellidos}}<br></td>
                                                <td>{{dato.votos}}<br></td>
                                                <td>{{dato.idPartido.nombre}}<br></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="text-primary font-weight-bold m-0" v-on:click="prueba">Porcentaje de Votos</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" v-for="datito in datosEstadisticos" style="height: 53px;">
                                            <div class="col">
                                                <h4 class="small font-weight-bold" style="font-size: 15.8px;">{{datito.nombre}}<span class="float-right">{{datito.porcentaje}}%</span></h4>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 53px;">
                                            <div class="col">
                                                <h4 class="small font-weight-bold" style="color: var(--blue);font-weight: bold;font-size: 14.8px;">POBLACION QUE HA EJERCIDO EL VOTO<span class="float-right" id="idSpanPorcentaje" style="margin-right: 0px;margin-left: 10px;">20%</span><span class="float-right" id="idUsuariosContadorTrue">20%</span></h4>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 53px;">
                                            <div class="col">
                                                <h4 class="small font-weight-bold" style="color: var(--success);font-size: 16.8px;">POBLACION TOTAL&nbsp;<span class="float-right" id="idUsuariosContador">20%</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © TPI 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/vueAlcaldes.js"></script>
    <script src="assets/js/vueDiputados.js"></script>
    <script src="assets/js/vueEstadisticas.js"></script>
    <script src="assets/js/vueLogin.js"></script>
    <script src="assets/js/vuePresidentes.js"></script>
    <script src="assets/js/vueUsuarios.js"></script>
    <script src="assets/js/vueVoto.js"></script>
</body>

</html>