<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="icon" type="image/png" sizes="153x160" href="assets/img/avatars/Logo_de_Gobierno_versiones-01-01.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Minimalistic--Responsive-Login.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index.html">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-journal-whills"></i></div>
                    <div class="sidebar-brand-text mx-3"><span><br><strong>&nbsp;ELECSAL</strong><br><br></span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" id="navVotos"><a class="nav-link" href="votoAlcalde.html"><i class="fas fa-table"></i><span>Votar</span></a></li>
                    <li class="nav-item" id="navEstadisticas"><a class="nav-link" href="estadisticas.html"><i class="fas fa-tachometer-alt"></i><span>Estadisticas</span></a></li>
                    <li class="nav-item" id="navAdminUser"><a class="nav-link" href="usuarios.html"><i class="fa fa-users"></i><span>Administrar Usuarios</span></a></li>
                    <li class="nav-item" id="navAdminAlcalde"><a class="nav-link" href="alcaldes.html"><i class="fa fa-user-o"></i><span>Administrar Candidatos Alcalde</span></a></li>
                    <li class="nav-item" id="navAdminPresidente"><a class="nav-link active" href="presidentes.html"><i class="fa fa-user-o"></i><span>Administrar Candidatos Presidente</span></a></li>
                    <li class="nav-item" id="navAdminDiputado"><a class="nav-link" href="diputados.html"><i class="fa fa-user-o"></i><span>Administrar Candidatos Diputados</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div>
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><a class="navbar-brand justify-content-center align-items-center sidebar-brand m-0" id="nombreUsuario" href="#" style="width: 250px;height: 56px;padding-left: 5px;font-family: 'Alfa Slab One', serif;color: var(--blue);"></a>
                        <p class="d-xl-flex align-items-xl-end" id="idDepMun" style="margin-right: 0px;padding-left: 0px;margin-left: 100px;color: var(--indigo);font-size: 20px;font-family: 'Alfa Slab One', serif;">Paragraph</p><button class="btn" id="myBtn" type="button" style="color: var(--blue);"><i class="fa fa-power-off" data-toggle="tooltip" data-bss-tooltip="" style="color: var(--red);width: 25px;height: 25px;font-size: 25px;" title="SALIR DEL SISTEMA"></i></button>
                    </div>
                </nav>
                <div class="container-fluid" id="adminPresidentes">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-md-6 text-nowrap" style="padding: 7px;font-size: 24px;font-family: Alatsi, sans-serif;text-align: center;">
                                    <p class="text-primary m-0 font-weight-bold" style="width: auto;height: 24px;text-align: left;">Información de candidatos a Presidente</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right"><input class="form-control-sm float-right form-control form-control-sm" type="search" placeholder="Search" v-model="textoBusqueda" style="width: 200px;height: 38px;"><a class="btn btn-sm text-left float-right" role="button" data-toggle="modal" data-bss-tooltip="" style="height: 38px;width: auto;padding: 8px;background-color: transparent;color: var(--blue);font-size: 16px;text-align: left;" title="AGREGAR" v-on:click="mostrarAgregar"><i class="fa fa-sign-in" style="color: var(--blue);"></i>&nbsp;Nuevo</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>DUI</th>
                                            <th>Partido</th>
                                            <th>Sexo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(presi, index) in presidentes" v-show="buscar(index)" v-on:click="presidenteSelected=index;" v-bind:class="{ 'font-weight-bold' : presidenteSelected==index }">
                                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/candidatoH.png" v-show="presi.idUsuario.sexo==&quot;M&quot;"><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/candidataM.jpg" v-show="presi.idUsuario.sexo==&quot;F&quot;">{{presi.idUsuario.nombres}}</td>
                                            <td>{{presi.idUsuario.apellidos}}<br></td>
                                            <td>{{presi.idUsuario.dui}}<br></td>
                                            <td>{{presi.idPartido.nombre}}<br></td>
                                            <td><i class="fa fa-female" data-toggle="tooltip" data-bss-tooltip="" style="font-size: 25px;color: var(--pink);" v-show="presi.idUsuario.sexo==&quot;F&quot;" title="FEMENINO"></i><i class="fa fa-male" data-toggle="tooltip" data-bss-tooltip="" style="font-size: 25px;color: var(--blue);" v-show="presi.idUsuario.sexo==&quot;M&quot;" title="MASCULINO"></i><br></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modalAgregar" style="color: #f0f9ff;">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="color: var(--blue);background: rgb(78, 115, 223);">
                                    <h4 class="modal-title" style="color: #ffffff;">Nuevo Candidato a Presidente</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body" style="background: rgb(248,249,252);">
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <div class="row">
                                                <div class="col-md-6 text-nowrap" style="padding: 7px;font-size: 24px;font-family: Alatsi, sans-serif;text-align: center;">
                                                    <p class="text-primary m-0 font-weight-bold" style="width: auto;height: 24px;text-align: left;">Usuarios</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="text-md-right"><input class="form-control-sm float-right form-control form-control-sm" type="search" aria-controls="dataTable" placeholder="Search" v-model="textoBusquedaUser" style="width: 200px;height: 38px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Apellido</th>
                                                            <th>Sexo</th>
                                                            <th>DUI</th>
                                                            <th>Departamento</th>
                                                            <th>Municipio</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr v-for="(user, index) in usuarios" v-show="buscarU(index)" v-on:click="usuarioSelected=index;" v-bind:class="{ 'font-weight-bold' : usuarioSelected==index }">
                                                            <td>{{user.nombres}}<br></td>
                                                            <td>{{user.apellidos}}<br></td>
                                                            <td><i class="fa fa-female" data-toggle="tooltip" data-bss-tooltip="" style="font-size: 25px;color: var(--pink);" v-show="user.sexo==&quot;F&quot;" title="FEMENINO"></i><i class="fa fa-male" data-toggle="tooltip" data-bss-tooltip="" style="font-size: 25px;color: var(--blue);" v-show="user.sexo==&quot;M&quot;" title="MASCULINO"></i><br></td>
                                                            <td>{{user.dui}}<br></td>
                                                            <td>{{user.idMunicipio.idDepartamento.departamento}}<br></td>
                                                            <td>{{user.idMunicipio.municipio}}<br></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="background: var(--blue);"><button class="btn btn-danger btn-sm" type="button" data-dismiss="modal" style="background: var(--secondary);">Cancelar</button><button class="btn btn-primary btn-sm" type="button" data-dismiss="modal" style="margin: 0px 0px 0px 10px;background: var(--indigo);" v-on:click="mostrarAgregar1">Siguiente</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modalAgregar1" style="color: #f0f9ff;">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="color: var(--blue);background: rgb(78, 115, 223);">
                                    <h4 class="modal-title" style="color: #ffffff;">Nuevo Candidato a Presidente<br></h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body" style="background: rgb(248,249,252);">
                                    <div class="alert alert-danger collapse" role="alert" id="miAlerta" style="width: auto;margin: 0px;padding-top: 12px;padding-right: 12px;padding-bottom: 12px;padding-left: 12px;"><span style="font-size: 14px;text-align: center;"><strong>{{ alerta.titulo }} :</strong>&nbsp;{{ alerta.mensaje }}.</span><i class="fa fa-close close" v-on:click="cerrarAlerta();"></i></div>
                                    <div class="input-group" style="padding: 10px;">
                                        <div class="input-group-prepend"><span class="input-group-text" style="width: 100px;background: var(--blue);color: rgb(255,255,255);">Nombre:</span></div><input class="form-control" type="text" v-model="this.usuarios[this.usuarioSelected].nombres" readonly="">
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div class="input-group" style="padding: 10px;">
                                        <div class="input-group-prepend"><span class="input-group-text" style="width: 100px;color: var(--white);background: var(--blue);">Apellido:</span></div><input class="form-control" type="text" v-model="this.usuarios[this.usuarioSelected].apellidos" readonly="">
                                        <div class="input-group-append"></div>
                                    </div>
                                    <div class="input-group" style="padding: 10px;">
                                        <div class="input-group-prepend"><span class="input-group-text" style="width: 100px;background: var(--blue);color: var(--white);">DUI:</span></div><input class="form-control" type="number" v-model="this.usuarios[this.usuarioSelected].dui" readonly="">
                                        <div class="input-group-append"></div>
                                    </div><div class="input-group" style="padding: 10px;padding-left: 10px;">
    <div class="input-group-prepend"><span class="input-group-text" style="width: auto;background: var(--blue);color: var(--white); ">Partido Politico </span></div>
    
    <select id="inputPartido" v-model="nuevoCandidato.idPartido.idPartido" style="width: auto;font-weight: bold;">
        <option v-for="option in partidos" v-bind:value="option.idPartido">
            {{option.nombre}}
        </option>
    </select>
    <div class="input-group-append"></div>
</div>
                                </div>
                                <div class="modal-footer" style="background: var(--blue);"><button class="btn btn-danger btn-sm" type="button" data-dismiss="modal" style="background: var(--secondary);">Cancelar</button><button class="btn btn-primary btn-sm" style="margin: 0px 0px 0px 10px;background: #1ec304;color: var(--blue);font-weight: bold;" v-on:click="crear">Agregar</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © TPI 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/vueAlcaldes.js"></script>
    <script src="assets/js/vueDiputados.js"></script>
    <script src="assets/js/vueEstadisticas.js"></script>
    <script src="assets/js/vueLogin.js"></script>
    <script src="assets/js/vuePresidentes.js"></script>
    <script src="assets/js/vueUsuarios.js"></script>
    <script src="assets/js/vueVoto.js"></script>
</body>

</html>